<div class="bg-white shadow-md rounded-lg p-4 max-w-md mx-auto border hover:shadow-2xl ">

  <div class="flex justify-between items-center mb-2">
    <div class="text-xl font-bold">Tyre change window</div>
    @if (isOpen){
      <div class="bg-green-500 p-2 rounded-lg text-white font-semibold">Open</div>
    } @else {
      <div class="bg-red-500 p-2 rounded-lg text-white font-semibold">Close</div>
    }
  </div>

  <div class="flex justify-between mb-2">

    <div>
      <div class="text-gray-600">Opening Time</div>
      <div class="text-black font-mono">
        @if (openingTime()) {
          {{ openingTime() | date:'HH:mm:ss' }}
        } @else {
          --:--:--
        }
      </div>
    </div>

    <div>
      <div class="text-gray-600">Closing Time</div>
      <div class="text-black font-mono">
        @if (closingTime()) {
          {{ closingTime() | date:'HH:mm:ss' }}
        } @else {
          --:--:--
        }
      </div>
    </div>
  </div>
  <div class="flex justify-center">
    @if (remainingTyreChange > 0) {
      <div class="bg-yellow-500 p-2 rounded-lg text-white font-semibold">Remaining tyre change: {{ remainingTyreChange }}</div>
    } @else {
      <div class="bg-green-500 p-2 rounded-lg text-white font-semibold">Tyre change completed!</div>
    }
  </div>
</div>
