<div
    class="bg-white shadow-md rounded-lg p-4 max-w-sm mx-auto border hover:shadow-2xl hover:cursor-pointer"
    (click)="isOpen = !isOpen">

  <div [ngClass]="{'mb-2':isOpen}" class="flex justify-between items-center">
    <div class="text-xl font-bold">🛞 Tyre change</div>
    <div class="flex items-center">

      @if (remainingTyreChange > 0) {
        <div class="bg-yellow-500 p-2 rounded-lg text-white font-semibold mr-1 ">
          Remaining: {{ remainingTyreChange }}
        </div>
      } @else {
        <div class="bg-green-500 p-2 rounded-lg text-white font-semibold mr-1">Completed!</div>
      }

      @if (isTyreChangeWindowOpen) {
        <div class="bg-green-500 p-2 rounded-lg text-white font-semibold mr-1">Open</div>
      } @else {
        <div class="bg-red-500 p-2 rounded-lg text-white font-semibold mr-1">Close</div>
      }
    </div>
  </div>
  @if (isOpen) {
    <div class="flex justify-between">

      <div>
        <div class="text-gray-600">Window opening</div>
        <div class="text-black font-mono">
          @if (openingTime()) {
            {{ openingTime() | date:'HH:mm:ss' }}
          } @else {
            --:--:--
          }
        </div>
      </div>

      <div>
        <div class="text-gray-600">Window closing</div>
        <div class="text-black font-mono text-right">
          @if (closingTime()) {
            {{ closingTime() | date:'HH:mm:ss' }}
          } @else {
            --:--:--
          }
        </div>
      </div>
    </div>
  }
</div>
