<div class="w-full h-full min-h-full dark:bg-black">
  <div class="p-4 grid grid-cols-1 lg:grid-cols-3 gap-3">
    <div class="text-xl md:text-3xl dark:text-white font-semibold">🏎️ dash-boar 🐗</div>
    <div class="text-right lg:text-center">
      <app-race></app-race>
    </div>
  </div>

  <app-race-button></app-race-button>

  <app-timeline></app-timeline>

  <div class="mx-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 mb-4">
    <div class="flex-col md:h-fit">
      <div class="mb-3 lg:mb-4">
        <app-pit-lane></app-pit-lane>
      </div>
      <div class="mb-3 lg:mb-4">
        <app-driver-change></app-driver-change>
      </div>
      <div class="mb-3 lg:mb-4">
        <app-tyre-change-window></app-tyre-change-window>
      </div>
      <div class="lg:mb-4">
        <app-pit></app-pit>
      </div>
    </div>
    <div class="flex-col">
      <div class="mb-3 lg:mb-4">
        <app-fuel></app-fuel>
      </div>
      <div class="mb-3 lg:mb-4">
        <app-stint-optimizer></app-stint-optimizer>
      </div>
      <div class="mb-3 lg:mb-4">
        <app-lap></app-lap>
      </div>
      <div class="lg:mb-4">
        <app-driver></app-driver>
      </div>
    </div>
    <div class="flex-col">
      <div class="mb-3 lg:mb-4">
        <app-active-stint></app-active-stint>
      </div>
      <div class="mb-3 lg:mb-4">
        <app-stint></app-stint>
      </div>
      <div class="lg:mb-4">
        <app-delta-stint></app-delta-stint>
      </div>
    </div>
  </div>

  <div class="flex flex-col justify-center items-center">
    <img src="assets/circuit_logo.png" alt="Circuito" class="max-w-48 md:max-w-xs">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-1">
      <img src="assets/cremona_circuit.jpg" alt="Circuito" class="max-w-sm md:max-w-xl">
      <img src="assets/cremona_circuit_plan.jpg" alt="Circuito" class="max-w-sm md:max-w-xl">
    </div>

  </div>
</div>

<router-outlet/>

