<div class="w-full h-screen dark:bg-black">
  <div class="p-4 grid grid-cols-2 lg:grid-cols-3 gap-3">
    <div class="flex items-center">
      <!--<img src="assets/wild_boar_racing_round.jpg" alt="Descrizione immagine" class="h-12 w-12 object-cover mr-4">-->
      <span class="text-xl md:text-3xl dark:text-white font-semibold">🏎️ dash-boar 🐗</span>
    </div>
    <div class="text-right lg:text-center">
      <app-race></app-race>
    </div>
  </div>

  <div class="mx-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 mb-3">
    <app-tyre-change-window></app-tyre-change-window>
    <app-fuel></app-fuel>
    <app-race-logic></app-race-logic>
  </div>

  <div class="flex justify-center mx-auto">
    <img src="assets/cremona_circuit.jpg" alt="Circuito" class="h-96 aspect-auto">
  </div>
</div>

<router-outlet/>

