<div
    class="bg-white shadow-md rounded-lg p-2 md:p-3 lg:p-4 w-auto mx-auto border hover:shadow-xl">

  <div [ngClass]="{'mb-2':isOpen}" (click)="isOpen = !isOpen" class="flex justify-between items-center hover:cursor-pointer">
    <div class="text-lg lg:text-xl font-bold">🐗 Drivers</div>
    <div class="flex items-center">

      @if (driversTimeOnTrackWarningCount() > 0) {
        <div
            class="bg-yellow-500 px-2 py-1 rounded-lg text-white text-center font-medium mr-1 hover:cursor-default">
          Time on track warning: {{ driversTimeOnTrackWarningCount() }}
        </div>
      } @else {
        <div
            class="bg-green-500 px-2 py-1 rounded-lg text-white text-center font-medium mr-1 hover:cursor-default">
          Time on track warning: Completed!
        </div>
      }
    </div>
  </div>

  <!-- TODO: aggiungere numero di stint fatti da ogni pilota -->
  @if (isOpen) {
    <table class="min-w-full bg-white">
      <thead>
      <tr>
        <th class="py-2 px-3 border-b border-gray-200 text-left text-md font-medium text-gray-700"></th>
        <th class="py-2 px-3 border-b border-gray-200 text-left text-md font-medium text-gray-700">Name</th>
        <th class="py-2 px-3 border-b border-gray-200 text-left text-md font-medium text-gray-700">Reference lap time</th>
        <th class="py-2 px-3 border-b border-gray-200 text-left text-md font-medium text-gray-700">Stint</th>
        <th class="py-2 px-3 border-b border-gray-200 text-left text-md font-medium text-gray-700">Time on track</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let driver of drivers()"
          [ngClass]="{'bg-green-100 font-semibold': driver.id === activeStintDriverId(), 'hover:bg-gray-50': driver.id !== activeStintDriverId()}">
        <td class="py-2 px-3 border-b border-gray-200 text-black">{{ driver.id }}</td>
        <td class="py-2 px-3 border-b border-gray-200 text-black">{{ driver.raceName }}</td>
        <td class="py-2 px-3 border-b border-gray-200 text-black font-mono">{{ getDriverReferenceLapTime(driver.id) }}</td>
        <th class="py-2 px-3 border-b border-gray-200 text-black text-left font-mono"> {{ getDriverStintCount(driver.id) }}</th>
        <td class="py-2 px-3 border-b border-gray-200 text-black font-mono">
          <div
              [ngClass]="{'bg-yellow-500 text-white': getDriverTimeOnTrackWarning(driver.id)}"
              class="p-1 w-24 text-center rounded">
            {{ getDriverTimeOnTrack(driver.id) }}
          </div>
        </td>
      </tr>
      <!-- Totals row -->
      <tr class="bg-gray-100 font-bold">
        <td class="py-2 px-3 border-b border-gray-200 text-black" colspan="3">Totals</td>
        <td class="py-2 px-3 border-b border-gray-200 text-black text-left font-mono">{{ totalStints() }}</td>
        <td class="py-2 px-3 border-b border-gray-200 text-black font-mono">
          <div class="p-1 w-24 text-center rounded">{{ totalTimeOnTrack() }}</div>
        </td>
      </tr>
      </tbody>
    </table>
  }
</div>
