<div class="whitespace-pre-line fixed bg-black rounded-lg shadow-md p-4 text-white"
     [ngClass]="{
       'tooltip--above': position === TooltipPosition.ABOVE,
       'tooltip--below': position === TooltipPosition.BELOW,
       'tooltip--left': position === TooltipPosition.LEFT,
       'tooltip--right': position === TooltipPosition.RIGHT
     }"
     [style.left]="left + 'px'"
     [style.top]="top + 'px'">
  <div class="font-bold text-lg mb-2">
    {{ data?.title }}
  </div>
  @for (paragraph of data?.paragraphs; track paragraph; let last = $last) {
    @if (paragraph !== ''){
      <div class="mb-1">
        {{ paragraph }}
      </div>
      @if (!last){
        <hr class="mb-1">
      }
    }
  }
  @if (data?.footer !== '') {
    <hr class="mb-1">
    <div class="text-lg" >
      {{ data?.footer }}
    </div>
  }
</div>
