<div class="bg-white shadow-md rounded-lg p-2 md:p-3 lg:p-4 w-auto mx-auto border hover:shadow-xl">

  <div [ngClass]="{'mb-2':isOpen}" (click)="isOpen = !isOpen"
       class="flex justify-between items-center hover:cursor-pointer">
    <div class="text-lg lg:text-xl font-bold">⏳ Stint</div>
    <div class="flex items-center">
      <div
          class="bg-blue-500 px-2 py-1 rounded-lg text-white text-center font-medium hover:cursor-default">
        Total: {{ stints().length }}
      </div>
    </div>
  </div>

  @if (isOpen) {
    <div class="max-h-72 flex flex-col overflow-clip">
      <table class="w-full bg-white table-fixed">
        <thead class="sticky top-0">
        <tr>
          <th class="py-2 px-3 border-b border-gray-200 text-left text-xs xl:text-base font-medium text-gray-700"></th>
          <th class="py-2 border-b border-gray-200 text-left text-xs xl:text-base font-medium text-gray-700">
            Driver
          </th>
          <th class="py-2 px-3 border-b border-gray-200 text-center text-xs xl:text-base font-medium text-gray-700"
              colspan="2">Start
          </th>
          <th class="py-2 px-3 border-b border-gray-200 text-center text-xs xl:text-base font-medium text-gray-700"
              colspan="2">End
          </th>
          <th class="py-2 px-3 border-b border-gray-200 text-center text-xs xl:text-base font-medium text-gray-700"
              colspan="2">On track
          </th>
        </tr>
        </thead>
      </table>
      <div class="flex-1 overflow-y-auto">
        <table class="w-full table-fixed">
          <tbody>
          <tr *ngFor="let stint of stints()"
              [ngClass]="{'bg-green-100 font-semibold': stint.id === activeStintId(), 'hover:bg-gray-50': stint.id !== activeStintId()}">
            <td class="py-2 px-3 border-b border-gray-200 text-xs xl:text-base text-black">{{ stint.id }}</td>
            <td class="py-2 border-b border-gray-200 text-xs xl:text-base text-black">{{
                getDriverRacingName(stint.driverId)
              }}
            </td>
            <td class="py-2 border-b border-gray-200 text-center text-xs xl:text-base text-black font-mono"
                colspan="2">{{ stint.startDate.toDate() | date:'HH:mm:ss' }}
            </td>
            <td class="py-2 border-b border-gray-200 text-center text-xs xl:text-base text-black font-mono"
                colspan="2">
              {{ getEndDate(stint) }}
            </td>
            <td class="py-2 border-b border-gray-200 text-center text-xs xl:text-base text-black font-mono"
                colspan="2"> {{
                calculateTimeOnTrack(stint.startDate.toDate(), stint.endDate?.toDate())
              }}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="flex">
        <table class="w-full table-fixed">
          <tfoot class="sticky bottom-0-0">
          <tr class="bg-gray-100 font-bold">
            <td class="py-2 px-3 border-b border-gray-200 text-xs xl:text-base text-black"
                colspan="6">Totals
            </td>
            <td class="py-2 border-b border-gray-200 text-center text-xs xl:text-base text-black font-mono"
                colspan="2">{{ calculateTotalTimeOnTrack() }}
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  }
</div>
