<div class="bg-neutral-50 dark:bg-neutral-800 shadow-md dark:shadow-white/20 rounded-lg p-2 md:p-3 lg:p-4 w-auto mx-auto border hover:shadow-xl">

  <div [ngClass]="{'mb-2':isOpen}" (click)="isOpen = !isOpen"
       class="flex justify-between items-center hover:cursor-pointer">
    <div class="text-lg lg:text-xl font-bold text-neutral-900 dark:text-neutral-100">🔊 Interphone</div>
    <div
        [ngClass]="{'animate-bounce': warning() }"
        class="flex items-center">
      <div
          [ngClass]="remainingColor()"
          class="px-2 py-1 w-36 rounded-lg text-left text-neutral-100 font-medium mr-1 hover:cursor-default">
        Empty: {{ emptyBatteryCountdown() }}
      </div>
      <app-battery [charge]="remainingBatteryPercentage()"></app-battery>
    </div>
  </div>

  @if (isOpen) {
    <div class="flex justify-between mb-2">
      <div>
        <div class="text-neutral-500 dark:text-neutral-400">Last change time</div>
        <div class="text-neutral-900 dark:text-neutral-100 font-mono">
          @if (lastChangeTime()) {
            {{ lastChangeTime() | date:'HH:mm:ss' }}
          } @else {
            --:--:--
          }
        </div>
      </div>
      <div>
        <div class="text-neutral-500 dark:text-neutral-400 text-right">Since last change</div>
        <div class="text-neutral-900 dark:text-neutral-100 font-mono text-right">
          {{ sinceLastChange() }}
        </div>
      </div>
    </div>

    <hr class="mb-2">

    <div class="flex justify-between mb-2">
      <div>
        <div class="text-neutral-500 dark:text-neutral-400">Empty time</div>
        <div class="text-neutral-900 dark:text-neutral-100 font-mono">
          @if (emptyBatteryDate()) {
            {{ emptyBatteryDate() | date:'HH:mm:ss' }}
          } @else {
            --:--:--
          }
        </div>
      </div>

      <div>
        <div class="text-neutral-500 dark:text-neutral-400 text-right">Empty in</div>
        <div class="text-neutral-900 dark:text-neutral-100 font-mono text-right">
          {{ emptyBatteryCountdown() }}
        </div>
      </div>
    </div>

    <hr class="mb-2">

    <div class="flex justify-center">
      <div>
        <div class="text-neutral-500 dark:text-neutral-400 text-right">Battery duration (min)</div>
        <div class="flex justify-end">
          <button (click)="increaseBatteryDuration()"
                  class="bg-neutral-200 hover:bg-neutral-400 active:bg-neutral-500 text-neutral-900 px-4 mr-1 rounded-sm">
            +
          </button>
          <form (ngSubmit)="onSubmit()" class="text-right">
            <input
                type="number"
                id="fuelDuration"
                [(ngModel)]="batteryDurationMinute"
                name="fuelDuration"
                class="border rounded-lg px-2 py-1 w-20 text-right text-neutral-900 dark:text-neutral-100"
                required
                min="1"
            />
          </form>
          <button (click)="decreaseBatteryDuration()"
                  class="bg-neutral-200 hover:bg-neutral-400 active:bg-neutral-500 text-neutral-900 px-4 ml-1 rounded-sm">
            -
          </button>
        </div>
      </div>
    </div>
  }
</div>
