<div class="bg-white shadow-md rounded-lg p-2 md:p-3 lg:p-4 w-auto mx-auto border hover:shadow-xl">

  <div [ngClass]="{'mb-2':isOpen}" (click)="isOpen = !isOpen"
       class="flex justify-between items-center hover:cursor-pointer">
    <div class="text-lg lg:text-xl font-bold">🧐 Delta stint</div>
    <div class="flex items-center">
      <div
          [ngClass]="{'bg-yellow-500': deltaMilliseconds() < 0, 'bg-green-500': deltaMilliseconds() >= 0}"
          tooltip [tooltipData]=tooltipInfo [tooltipPosition]=tooltipPosition
          class="px-2 py-1 rounded-lg text-white text-center font-medium hover:cursor-default">
        @if (deltaMilliseconds() < 0) {
          Losing:
        } @else if (deltaMilliseconds() > 0) {
          Gaining:
        }
        {{ getMillisecondsToTimeString(deltaMilliseconds()) }}
      </div>
    </div>
  </div>

  @if (isOpen) {
    <div class="max-h-72 flex flex-col overflow-clip">
      <table class="w-full bg-white table-fixed">
        <thead class="sticky top-0">
        <tr>
          <th class="py-2 px-3 border-b border-gray-200 text-left text-xs xl:text-base font-medium text-gray-700"></th>
          <th class="py-2 px-3 border-b border-gray-200 text-center text-xs xl:text-base font-medium text-gray-700"
              colspan="2">On track
          </th>
          <th class="py-2 px-3 border-b border-gray-200 text-center text-xs xl:text-base font-medium text-gray-700"
              colspan="2">Optimum
          </th>
          <th class="py-2 px-3 border-b border-gray-200 text-center text-xs xl:text-base font-medium text-gray-700"
              colspan="2">Delta
          </th>
        </tr>
        </thead>
      </table>
      <div class="flex-1 overflow-y-auto">
        <table class="w-full table-fixed">
          <tbody>
          <tr *ngFor="let deltaStint of deltaStints()"
              [ngClass]="{'bg-green-100 font-semibold': deltaStint.id === activeStintId(), 'hover:bg-gray-50': deltaStint.id !== activeStintId()}">
            <td class="py-2 px-3 border-b border-gray-200 text-xs xl:text-base text-black">{{ deltaStint.id }}</td>
            <td class="py-2 border-b border-gray-200 text-center text-xs xl:text-base text-black font-mono"
                colspan="2">{{ getMillisecondsToTimeString(deltaStint.timeOnTrack) }}
            </td>
            <td class="py-2 border-b border-gray-200 text-center text-xs xl:text-base text-black font-mono"
                colspan="2">{{ getMillisecondsToTimeString(deltaStint.optimum) }}
            </td>
            <td class="py-2 border-b border-gray-200 text-center text-xs xl:text-base font-mono"
                colspan="2">
              <div
                  [ngClass]="{'bg-yellow-500': deltaStint.delta < 0, 'bg-green-500': deltaStint.delta >= 0}"
                  class="p-1 text-center text-white rounded">
                {{ getMillisecondsToTimeString(deltaStint.delta) }}
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="flex">
        <table class="w-full table-fixed">
          <tfoot class="sticky bottom-0-0">
          <tr class="bg-gray-100 font-bold">
            <td class="py-2 px-3 border-b border-gray-200 text-xs xl:text-base text-black"
                colspan="5">Totals
            </td>
            <td class="py-2 border-b border-gray-200 text-center text-xs xl:text-base text-black font-mono"
                colspan="2">
              <div
                  [ngClass]="{'bg-yellow-500': totalDeltaMilliseconds() < 0, 'bg-green-500': totalDeltaMilliseconds() >= 0}"
                  class="p-1 text-center text-white rounded">
                {{ getMillisecondsToTimeString(totalDeltaMilliseconds()) }}
              </div>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  }
</div>
