<div class="bg-neutral-50 dark:bg-neutral-800 shadow-md dark:shadow-white/40 rounded-lg p-2 md:p-3 lg:p-4 w-auto mx-auto border hover:shadow-xl">

  <div [ngClass]="{'mb-2':isOpen}" (click)="isOpen = !isOpen"
       class="flex justify-between items-center hover:cursor-pointer">
    <div class="text-lg lg:text-xl font-bold text-neutral-900 dark:text-neutral-100">🧐 Delta stint</div>
    <div class="flex items-center">
      <div
          [ngClass]="{'bg-yellow-500 text-neutral-100': deltaMilliseconds() < 0, 'bg-green-500 text-neutral-100': deltaMilliseconds() > 0}"
          tooltip [tooltipData]=tooltipInfo [tooltipPosition]=tooltipPosition
          class="px-2 py-1 rounded-lg text-center font-medium hover:cursor-default text-neutral-900 dark:text-neutral-100">
        @if (deltaMilliseconds() < 0) {
          Losing:
        } @else if (deltaMilliseconds() > 0) {
          Gaining:
        }
        {{ getMillisecondsToTimeString(deltaMilliseconds()) }}
      </div>
    </div>
  </div>

  @if (isOpen) {
    <div class="max-h-72 flex flex-col overflow-clip">
      <table class="w-full bg-neutral-50 dark:bg-neutral-800 table-fixed">
        <thead class="sticky top-0">
        <tr>
          <th class="py-2 px-3 border-b border-neutral-200 dark:border-neutral-400 text-left text-xs xl:text-base font-medium text-neutral-700 dark:text-neutral-400"></th>
          <th class="py-2 px-3 border-b border-neutral-200 dark:border-neutral-400 text-center text-xs xl:text-base font-medium text-neutral-700 dark:text-neutral-400"
              colspan="2">On track
          </th>
          <th class="py-2 px-3 border-b border-neutral-200 dark:border-neutral-400 text-center text-xs xl:text-base font-medium text-neutral-700 dark:text-neutral-400"
              colspan="2">Optimum
          </th>
          <th class="py-2 px-3 border-b border-neutral-200 dark:border-neutral-400 text-center text-xs xl:text-base font-medium text-neutral-700 dark:text-neutral-400"
              colspan="2">Delta
          </th>
        </tr>
        </thead>
      </table>
      <div class="flex-1 overflow-y-auto">
        <table class="w-full table-fixed">
          <tbody>
          <tr *ngFor="let deltaStint of deltaStints()"
              [ngClass]="{'bg-green-100 dark:bg-green-900 font-semibold': deltaStint.id === activeStintId(), 'hover:bg-neutral-50 dark:hover:bg-neutral-700': deltaStint.id !== activeStintId()}">
            <td class="py-2 px-3 border-b border-neutral-200 dark:border-neutral-400 text-xs xl:text-base text-neutral-900 dark:text-neutral-100">{{ deltaStint.id }}</td>
            <td class="py-2 border-b border-neutral-200 dark:border-neutral-400 text-center text-xs xl:text-base text-neutral-900 dark:text-neutral-100 font-mono"
                colspan="2">{{ getMillisecondsToTimeString(deltaStint.timeOnTrack) }}
            </td>
            <td class="py-2 border-b border-neutral-200 dark:border-neutral-400 text-center text-xs xl:text-base text-neutral-900 dark:text-neutral-100 font-mono"
                colspan="2">{{ getMillisecondsToTimeString(deltaStint.optimum) }}
            </td>
            <td class="py-2 pr-1 border-b border-neutral-200 dark:border-neutral-400 text-center text-xs xl:text-base font-mono"
                colspan="2">
              <div
                  [ngClass]="{'bg-yellow-500': deltaStint.delta < 0, 'bg-green-500': deltaStint.delta >= 0}"
                  class="p-1 text-center text-neutral-100 rounded-sm">
                {{ getMillisecondsToTimeString(deltaStint.delta) }}
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="flex">
        <table class="w-full table-fixed">
          <tfoot class="sticky bottom-0-0">
          <tr class="bg-neutral-100 dark:bg-neutral-700 font-bold">
            <td class="py-2 px-3 border-b border-neutral-200 dark:border-neutral-400 text-xs xl:text-base text-neutral-900 dark:text-neutral-100" colspan="5">Totals
            </td>
            <td class="py-2 pr-1 border-b border-neutral-200 dark:border-neutral-400 text-center text-xs xl:text-base text-neutral-900 dark:text-neutral-100 font-mono"
                colspan="2">
              <div
                  [ngClass]="{'bg-yellow-500 text-neutral-100': totalDeltaMilliseconds() < 0, 'bg-green-500 text-neutral-100': totalDeltaMilliseconds() > 0}"
                  class="p-1 text-center rounded-sm">
                {{ getMillisecondsToTimeString(totalDeltaMilliseconds()) }}
              </div>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  }
</div>
