<div
    class="bg-white shadow-md rounded-lg p-2 md:p-3 lg:p-4 w-auto mx-auto border hover:shadow-xl">

  <div [ngClass]="{'mb-2':isOpen}" (click)="isOpen = !isOpen"
       class="flex justify-between items-center hover:cursor-pointer">
    <div class="text-lg lg:text-xl font-bold">🛞 Tyre change</div>
    <div class="flex items-center">

      @if (remainingTyreChange() > 0) {
        <div
            class="bg-yellow-500 px-2 py-1 rounded-lg text-white text-center font-medium mr-1 hover:cursor-default">
          Remaining: {{ remainingTyreChange() }}
        </div>
      } @else {
        <div
            class="bg-green-500 px-2 py-1 rounded-lg text-white text-center font-medium mr-1 hover:cursor-default">
          Completed!
        </div>
      }

      @if (tyreChangeWindowOpen()) {
        <div [ngClass]="{'animate-bounce': remainingTyreChange() > 0}"
             class="bg-green-500 px-2 py-1 rounded-lg text-white text-center font-medium mr-1 hover:cursor-default">
          Window open
        </div>
      } @else {
        <div
            class="bg-red-500 px-2 py-1 rounded-lg text-white text-center font-medium mr-1 hover:cursor-default">
          Window close
        </div>
      }
    </div>
  </div>

  @if (isOpen) {
    <div class="flex justify-between mb-2">
      <div>
        <div class="text-gray-600">Opening time</div>
        <div class="text-black font-mono">
          @if (openingTime()) {
            {{ openingTime() | date:'HH:mm:ss' }}
          } @else {
            --:--:--
          }
        </div>
      </div>

      <div>
        <div class="text-gray-600 text-right">Opening in</div>
        <div class="text-black font-mono text-right">
          {{ countdownOpeningTime() }}
        </div>
      </div>
    </div>

    <hr class="mb-2">

    <div class="flex justify-between mb-2">
      <div>
        <div class="text-gray-600 ">Closing time</div>
        <div class="text-black font-mono">
          @if (closingTime()) {
            {{ closingTime() | date:'HH:mm:ss' }}
          } @else {
            --:--:--
          }
        </div>
      </div>

      <div>
        <div class="text-gray-600 text-right">Closing in</div>
        <div class="text-black font-mono text-right">
          {{ countdownClosingTime() }}
        </div>
      </div>
    </div>

    <hr class="mb-2">

    <div class="flex justify-between">
      <div>
        <div class="text-gray-600">Remaining tyre change</div>
        <div class="text-black font-mono">
          {{ remainingTyreChange() }}
        </div>
      </div>
    </div>
  }
</div>
